[general]
maintainerAddress: olga.vozyakova@student.upjs.sk

[web]
bindAddress:
serverURL: https://skvo.science.upjs.sk
favicon: nv_static/img/favicon.png
adaptProtocol: False
sitename: Pavol Jozef Šafárik University Archive
adminpasswd: *****
logFormat: combined

[ivoa]
authority: astro.upjs
VOSITableDetail: max
